
.icon-cancel-circled:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-off:before { content: '\e801'; } /* '' */
.icon-up-circled:before { content: '\e803'; } /* '' */
.icon-down-circled:before { content: '\e804'; } /* '' */
.icon-pencil-squared:before { content: '\e802'; } /* '' */